@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.campo-texto {
  @apply bg-yellow-200 p-1;
  @apply rounded-md;

}

.botao {
  @apply bg-blue-500 p-1;
  @apply rounded-md text-white hover:bg-black ;
  
}

.principal{
  @apply flex flex-col p-1 items-center
}

.campo-entrada{
  @apply border p-1 rounded-md border-black
}

